/* .edit-send-box {
  position: absolute;
  left: 50%;
} */

.chat-box {
  filter: blur(10px);
}

.chat-box .chat .edit-chat-item {
  position: relative;
  border-top-left-radius: 10px;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f1f1f1;
  height: auto;
  overflow: hidden;
}

.edit-send-box {
  width: 30%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slide-in {
  from {
    translate: 0 0;
    scale: 200% 1;
  }

  to {
    translate: -400px 0;
    scale: 100% 1;
    transform: scale(1.2);
  }
}
