* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  background-color: #f1f1f1;
}

.chat-box {
  width: 50%;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-box .chat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chat-box .chat {
  height: 100%;
  padding: 1rem;
  width: 100%;
  overflow-y: scroll;
}

.chat-box .chat .chat-item {
  position: relative;
  border-top-left-radius: 10px;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #f1f1f1;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  transition: ease 0.5s;
  animation-name: slide-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.right-side {
  display: flex;
  align-items: center;
}
.action {
  display: none;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.action .edit,
.action .delete {
  background-color: #ffa600;
  color: #fff;
  border-top-left-radius: 10px;
  padding: 1rem 1rem;
  font-size: 0.8rem;
}
.action .delete {
  background-color: #dc3545;
}

@keyframes slide-in {
  from {
    translate: -50vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.chat-box .chat .chat-item:hover {
  border: 0.5px solid white;
}
.chat-box .chat .chat-item:hover .action {
  display: block;
}
.chat-box .chat .chat-item:hover .right-side {
  opacity: 0.6;
  filter: grayscale(1);
}

.date,
.time {
  font-size: 0.5rem;
  opacity: 0.3;
  padding: 0.2rem 0.5rem;
}

.chat-box .chat .chat-item span {
  padding: 1rem 1rem;
  font-size: 0.8rem;
  line-height: 2.5;
}

.from {
  background-color: #007bff89;
  color: #fff;
  border-top-left-radius: 10px;
}
.message {
  background-color: #f1f1f1;
  font-weight: bold;
}
.to {
  background-color: #28a74689;
  color: #fff;
  border-bottom-right-radius: 10px;
}

.send-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: scale;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes scale {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

form input {
  width: 80%;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}
form input[name="from"] {
  background-color: #007bff89;
  color: #fff;
}
form input[name="msg"] {
  background-color: #f1f1f1;
}

form input[name="to"] {
  background-color: #28a74689;
  color: #fff;
}
form input[name="from"]::placeholder {
  color: #fff;
}
form input[name="to"]::placeholder {
  color: #fff;
}
form button {
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
